@import "./cashier.less";
.cashier__result { padding: 100px 20px 175px; display: flex; align-items: center; flex-direction: column; gap: 20px;
    .result__icon {
        i, svg { border-radius: 99px; background-color: white; animation: spark 1s linear infinite; filter: drop-shadow(0px 20px 40px rgba(55, 84, 170, 0.2)); }
        .fa-circle-check { color: @cGreen; }
        .fa-circle-xmark { color: @cRed; }}
    @keyframes spark { 0% { opacity: 1; } 25% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; }}
    .result__info { margin-top: -20px; display: flex; flex-direction: column; align-items: center; }
    .result__title { font-size: 36px; }
    .result__content { font-size: @fXL; color: @cG3; }
    .result__qrcode { gap: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column;
        span { color: @cG3; }
        img { width: 120px; height: 120px; }}
    .bottom { gap: 15px 10px; flex-wrap: wrap;
        button { width: calc(50% - 5px); height: 50px;
            &.minor { background-color: @c2;
                > * { color: @c1 !important; }}
            &:not(.minor) { width: 100%; }
            span { font-size: @fL; white-space: nowrap; }
            i, svg { display: none; }}}}
