@import "./style.less";
.pop__more { padding: 0 !important; background-color: transparent !important; align-items: flex-end !important; justify-content: flex-start !important;
    .pop__body { width: fit-content !important; padding: 10px 20px 10px 10px !important; border-top: 1px solid @cBg; border-right: 1px solid @cBg; border-radius: 0 30px 30px 0 !important; gap: 10px !important; background-color: @c1 !important; flex-direction: row !important; animation-name: popright !important;
        .more__action { width: 80px; height: 80px; border-radius: 18.5px; gap: 2px; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center;
            &.more__action--minor > * { opacity: 0.5; }
            i, svg { color: white; line-height: normal; }
            span { color: white; font-size: @fL; white-space: nowrap; }
            .more__action-dot { width: 20px; height: 20px; border: 3px solid @c1; border-radius: 99px; top: 5px; right: 15px; position: absolute; background-color: @cRed; }
            .icon-cashier { display: inline-block; width: 27px; height: 28px; background: url('../img/icon/cashier.svg') no-repeat center; background-size: contain; }
            .icon-cashier + span { margin-top: -4px; }
            .icon-contactless { display: inline-block; width: 27px; height: 28px; background: url('../img/icon/contactless-setting.svg') no-repeat center; background-size: contain; }
            .icon-contactless + span { margin-top: -4px; }
            .icon-layout { display: inline-block; width: 27px; height: 28px; background: url('../img/icon/layout.svg') no-repeat center; background-size: contain; }
            .icon-layout + span { margin-top: -4px; }
        }
        .more__gap { width: 2px; height: 30px; border-radius: 99px; background-color: rgba(white, 0.2); }
        .more__action:last-child { width: 120px; 
            span { display: inline-flex; flex-flow: nowrap; width: 100%; align-items: center; 
                i { margin-right: 5px; }
            }
        }
    }}

@keyframes popright { 0% { margin-left: -100vw; opacity: 0; } 50% { opacity: 1; } 100% { margin-left: 0; opacity: 1; }}
@keyframes popleft { 0% { margin-left: 0; opacity: 1; } 50% { opacity: 1; } 100% { margin-left: -100vw; opacity: 0; }}

.pop__logout {
    .pop__title { font-size: @fXXL !important; font-weight: normal !important; color: @cG1 !important; }
    .pop__content { font-size: @fXL !important; }
    .pop__action:not(.pop__action--minor) { background-color: @cRed; }}

.pop__makecollections, .pop__contactless, .pop__layouts {
    .pop__body { max-width: 800px !important; }
    .pop__content { display: flex; flex-flow: nowrap; justify-content: space-between; width: 100%; padding: 50px 0 20px 0;
        .mc-method, .cl-method { width: 33.3%; padding: 0 30px; 
            background: url('../img/dashed.svg') repeat-y right center; text-align: center;

            input[type=radio] { display: none; }
            input[type=radio] + label { display: block; 
                .mc-method__title { position: relative; display: flex; flex-flow: nowrap; justify-content: center; align-items: center; font-size: @fM; font-weight: bold;
                    .icon-border { display: inline-block; width: 20px; height: 20px; margin-right: 10px; border-radius: 99em; border: 3px solid @cG4; }
                    .icon-checked { display: none; width: 20px; height: 20px; margin-right: 10px; color: #FFFFFF; background: @c1; border-radius: 99em; }
                    .tooltip { position: absolute; left: 88%; top: -30px; padding: 5px 10px; color: #FFFFFF; font-size: @fS; font-weight: normal; white-space: nowrap; background: @c1; border-radius: 99em; }
                    .tooltip::before { content: ''; display: block; position: absolute;
                        width: 0; height: 0; left: 0; bottom: 0;
                        border-style: solid;
                        border-width: 0 0 10px 10px;
                        border-color: transparent transparent @c1 transparent;
                        -moz-transform:rotate(-10deg);
                        -webkit-transform:rotate(-10deg);
                        -o-transform:rotate(-10deg);
                        -ms-transform:rotate(-10deg);
                        transform:rotate(-10deg);
                    }
                }     
            }

            input[type=radio]:not(:checked) + label.mc-method_label, input[type=radio]:not(:checked) + label.cl-method_label {
                filter: grayscale(1);
                -webkit-filter: grayscale(1);
                opacity: 0.5;
            }

            input[type=radio]:checked + label, 
            input[type=radio]:checked + label.mc-method_label, input[type=radio]:checked + label.cl-method_label { 
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                opacity: 1;

                .mc-method__title {
                    .icon-border { display: none; }
                    .icon-checked { display: inline-flex; justify-content: center; align-items: center; }
                }
            }
            
            .mc-method__img { margin: 20px auto;
                > img { width: 100%; height: auto; }
            }
            .mc-method__desc { color: @cG1; font-size: @fL; font-weight: 500;
                .fs { font-size: @fS; color: @cG3; font-weight: normal; }
                a { color: @c1; text-decoration: underline !important; }
            }
        }
        .mc-method:last-child, .cl-method:last-child { background: none; }
    }
    .pop__action.readonly { background: @cG4; cursor: text; }

    .pop__content.flex--center { align-items: flex-start;
        .mc-setting { width: 60%; padding: 0 40px; 
            background: url('../img/dashed.svg') repeat-y right center; 
            > div { font-size: @fL; color: @cG3; font-weight: 500; }
            > h2 { margin-bottom: 10px; font-size: @fXL; font-weight: 600; }

            .mc-setting__box { display: flex; flex-flow: nowrap; align-items: center;
                padding: 15px; margin-top: 50px; background: @cBg; border-radius: 10px;
                .mc-setting__switch { width: 36px; margin-right: 15px;
                    input[type=checkbox] { display: none; }
                    input[type=checkbox] + label { display: block; position: relative; width: 36px; height: 21px; background: @cG4; border: 2px solid @cG4; border-radius: 99em; 
                        .switch__inner { display: block;
                            width: 200%; margin-left: -100%;
                            transition: margin 0.3s ease-in 0s;
                        }
                        .switch__switch { display: block; position: absolute;
                            width: 16px; height: 16px; margin: auto; top: 0; bottom: 0; right: 16px;
                            background: #FFFFFF; border-radius: 99em; transition: all 0.3s ease-in 0s;
                        }
                    }

                    input[type=checkbox]:checked + label {
                        background: @c1; border-color: @c1;
                        .switch__inner { margin-left: 0; }
                        .switch__switch { right: 0px; }
                    }
                }
                .mc-setting__caption { width: calc(100% - 51px); 
                    > div { font-size: @fL; font-weight: 600; }
                    .fs { font-size: @fM; font-weight: normal; color: @cG3; }
                    .mc-setting__pincode { margin-top: 5px;
                        > span { color: @c1; font-weight: bold; font-size: @fL; }
                        > a { display: inline-block; margin-left: 5px; color: @cG4; font-weight: bold; 
                            > i { font-size: @fL; }
                        }
                    }
                }
            }   
        }
        .mc-setting:last-child { background: none; }
        .mc-setting.qrcode { width: 40%; 
            .mc-setting__qrcode > img { width: 100%; height: auto; }
            .mc-setting__qrcode__url { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; margin-top: 20px;
                > span { margin-right: 10px; font-size: @fXL; line-height: @fXL; font-weight: bold; }
                > a { color: @c1; }
            }
        }
        .mc-setting:last-child { background: none; }
    }
}

.pop__contactless {
    .pop__content { margin-top: -40px !important;
        .cl-method { width: 50%; 
            .mc-method__img > img { width: 75%; height: auto; }
            .mc-method__desc .fs { font-size: @fM; }
        }

        .select-machine { position: relative; width: calc(50% - 20px); height: 320px; padding: 0 10px 10px 10px; background: @cBg; border-radius: 15px; overflow-y: auto;
            .select-machine__topbar { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; position: sticky; width: 100%; height: 60px; left: 0; top: 0; padding-left: 10px;
                background: linear-gradient(180deg, #F2F1F6 80%, rgba(242, 241, 246, 0.00) 100%);

                .select-machine__title { width: 50%; font-size: @fL; font-weight: bold; white-space: nowrap; }
                .select-machine__search { width: 50%; display: flex; flex-flow: nowrap; justify-content: center; align-items: center; 
                    input { width: calc(100% - 20px); padding: 5px; border-bottom: 1px solid @cG4; }
                    button { width: 20px; height: 30px; background: none; 
                        i { color: @c1 !important; }
                    }
                }
            }

            .machine-list { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; padding: 7px 10px; border-radius: 10px; cursor: pointer;
                .machine-list__name { font-size: @fL; }
                .machine-list__id { color: @cG3; }
            }
            .machine-list:hover { background: var(--2, linear-gradient(0deg, rgba(135, 118, 80, 0.20) 0%, rgba(135, 118, 80, 0.20) 100%), #FFF); }
        }

        .machine-setting { width: 50%; 
            .machine-setting__topbar { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; margin-bottom: 5px;
                .machine-setting__title { width: 55%; white-space: nowrap; }
                .machine-setting__name { width: 45%; color: @cG3; text-align: right; border-bottom: 1px solid @cG4; }
            }

            .machineid-list { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; padding: 3px 0;
                .machineid-list__name { font-size: @fM; }
                .machineid-list__id { font-size: @fS; color: @cG3; }
            }

            .machine-setting__qrcode { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; margin-top: 5px; padding: 15px; border: 1px solid @cG5; border-radius: 15px; 
                .machine-setting__l {
                    h2 { font-size: @fM; margin-bottom: 5px; }
                    div { color: @cG3; font-size: @fS; }
                    .machine-setting__url { 
                        > span { margin-right: 5px; font-size: @fS; }
                        > a { color: @c1; }
                    }
                }
                .machine-setting__r { width: 30%; 
                    img { width: 100%; height: auto; }
                }
            }
        }
    }
}