@import "./style.less";
.pop__addon {
    &#pop__order-addon .addon__item:not(:nth-child(2)) { padding-top: 20px; border-top: 2px solid @cG6; }
    .pop__body { max-width: 800px !important; padding-bottom: 0 !important; position: relative;
        .addon__item { width: 100%; gap: 15px; display: flex; align-items: center;
            .addon__item-name { width: 100px; font-size: @fL; font-weight: bold; }
            .addon__item-count { margin-top: -5px; gap: 10px; display: flex; flex-direction: column; align-items: center;
                a { width: 36px; height: 36px; border: 1px solid @cG5; border-radius: 10px; display: flex; align-items: center; justify-content: center; font-size: @fXL; color: @c1;
                    &:nth-child(2) { padding-bottom: 2px; background-color: @c2; }
                    i, svg { color: @cG3; }}}
            .addon__item-choices { width: 100%; gap: 10px; display: flex; flex-wrap: wrap;
                a { max-width: calc(50% - 10px); min-height: 34px; padding: 5px 15px; border: 1px solid @cG5; border-radius: 15px; display: flex; align-items: center; font-size: @fM;
                    &.active { border: 1px solid @c2; background-color: @c2; color: @c1; }}}}
        .pop__actions { padding: 20px 0; left: 0; bottom: 0; position: sticky; background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 21.39%, #FFF 99.98%, #FFF 99.99%); }}}